
*{
    padding: 0;
    margin: 0;
  }
  @font-face {
    font-family:Josfen;
    src: url(./Fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Josfen-2;
    src: url(./Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
  }
  body{
   background-image: linear-gradient(rgba(255, 255, 255, 0.395), rgba(125, 119, 119, 0.395)), url(./images/back5.jfif);
    /* background-image:  linear-gradient(rgba(255, 255, 255, 0.395), rgba(255, 255, 255, 0.395)), 
    url(./Images/Coffee\ espresso\ template1.jpg); */
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
  font-family: Josfen-2;
  
  /* color: rgb(75, 38, 20); */
  color: rgb(21, 8, 1);
  
  }
  /* Navigation Bar */
  nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  #logo img{
    width: 80px;
    height: 80px;
    padding-left: 40px;
  }
  
  .ancor-tags{
    margin-top: 20px;
    padding-right: 60px;
  }
  .ancor-tags a{
    color: rgb(75, 38, 20);
    background-color: #ffffff6b;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  .ancor-tags a:hover{
    border: 1px solid rgb(75, 38, 20);
      background-color: rgb(75, 38, 20);
    color: #fff;
    }
  

   